/target/
/.classpath
/.project
/CryptoMarket.iml
/.idea/compiler.xml
/.idea/discord.xml
/.idea/dictionaries/edson.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__com_destroystokyo_paper_paper_api_1_15_2_R0_1_SNAPSHOT.xml
/.idea/libraries/Maven__com_github_MilkBowl_VaultAPI_1_7.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
/.idea/libraries/Maven__com_google_guava_guava_21_0.xml
/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__junit_junit_4_10.xml
/.idea/libraries/Maven__net_md_5_bungeecord_chat_1_15_SNAPSHOT.xml
/.idea/libraries/Maven__org_bukkit_bukkit_1_13_1_R0_1_SNAPSHOT.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_8_0_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_8_0_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_8_0_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_8_0_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
